// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: color(black);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;

  &__content {
    position: absolute;
    display: grid;
    place-items: center;

    h2 {
      @include headingStyles;
      font-size: size(xxl);
      color: color(cyan);
      z-index: 2000;
      pointer-events: none;
    }

    .preloader__img {
      width: 15rem;
      pointer-events: none;
    }
  }

  .spinner {
    width: 300px;
    height: 300px;
    position: relative;

    div {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 10px double transparent;
      border-top-color: color(cyan);
      border-radius: 50%;
      animation: spinnerOne 1.5s linear infinite;

      &:nth-child(2) {
        border: 10px double transparent;
        border-bottom-color: color(cyan);
        animation: spinnerTwo 1.5s linear infinite;
      }
    }
  }

  @keyframes spinnerOne {
    0% {
      transform: rotate(0deg);
      border-width: 10px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 1px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 10px;
    }
  }

  @keyframes spinnerTwo {
    0% {
      transform: rotate(0deg);
      border-width: 1px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 10px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 1px;
    }
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
}

// price card
.price {
  @include maxWidthSm;
  height: 100%;
  padding-top: 5rem;

  @include responsive(md) {
    padding-top: 0;
  }

  &__title {
    @include sectionSpacing;
    background-color: color(white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include responsive(md) {
      height: auto;
    }

    &__heading {
      @include headingStyles;
      font-size: size(xxl) + 2rem;
      color: color(cyan);
    }

    &__lead {
      @include textStyles;
      font-size: size(xl);
      color: color(bringYellow);
      padding-bottom: 1rem;
    }

    &__desc {
      @include textStyles;
      font-size: size(md);
      color: color(grayishBlue);
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(md) {
      grid-template-columns: 1fr;
      height: auto;
    }

    .subs {
      @include sectionSpacing;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: color(cyan);
      color: color(white);

      &__heading {
        @include headingStyles;
        font-size: size(xl);
      }

      &__price__container {
        display: flex;
        align-items: center;

        .subs__price {
          @include textStyles;
          font-size: size(xxl) + 2rem;
          padding-right: 1rem;
        }

        .subs__monthly {
          @include textStyles;
          font-size: size(xs);
          color: color(lightGray);
        }
      }

      &__desc {
        @include textStyles;
        font-size: size(sm);
        padding-bottom: 1.5rem;
      }
    }

    .features {
      @include sectionSpacing;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      background-color: lighten(color(cyan), 5%);
      color: color(white);

      &__heading {
        @include headingStyles;
        font-size: size(xl);
      }

      &__list {
        &__item {
          @include textStyles;
          font-size: size(xs);
          padding: 0.3rem 0;
          color: color(lightGray);
        }
      }
    }
  }
}

// footer
.footer {
  @include flexCenter;
  text-align: center;
  flex-wrap: wrap;

  h3 {
    @include textStyles;
    font-size: size(xs);
  }

  a {
    @include headingStyles;
    color: color(cyan);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    width: 5rem;
  }
}
